@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
@source "../views";
@plugin "@tailwindcss/typography";


@theme {
    --color-blue: #4A90E2;
    --color-snow: #F9FAFB;
    --font-geologica: "Geologica", sans-serif;
    --font-plexSans: "IBM Plex Sans", sans-serif;
}